.DS_Store
node_modules/
.derivedData/
.dmgroot/
FlashMask.zip
DerivedData/
.build/
.swiftpm/
*.xcuserstate
xcuserdata/
*.app
*.xcarchive
*.dmg
*.pkg
*.p12
*.p8
*.mobileprovision
*.provisionprofile
.env
.env.*
